.goods {
  .container{

  }
  &_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 60px, 1fr, 60px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  &__filter {
    grid-area: 1 / 1 / 4 / 2;
  }
  &__sort{
    grid-area: 1 / 2 / 2 / 5;
    display: flex;
    width: 100%;
    height: 60px;
  }
  &__cards {
    grid-area: 2 / 2 / 5 / 5;
    display: flex;
    flex-wrap: wrap;
    
  }
  &__sale {
    grid-area: 4 / 1 / 5 / 2;
    background: url(icons/salesBG.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__paginationPanel {
    grid-area: 5 / 1 / 6 / 5;
}

}
