@font-face {
  font-family: 'CeraPro';
  src: url(../../assets/fonts/CeraPro-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'CeraPro-Bold';
  src: url(../../assets/fonts/CeraPro-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'CeraPro-Black';
  src: url(../../assets/fonts/CeraPro-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'CeraPro-Medium';
  src: url(../../assets/fonts/CeraPro-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'CeraPro-Thin';
  src: url(../../assets/fonts/CeraPro-Thin.ttf) format('truetype');
}

